:root {
    --color-neutral: #fff;
    --color-text-primary: #000;
    --color-nav-background: rgb(22, 173, 243);
    --color-nav-selected: var(--color-neutral);
    --color-nav-hover: rgb(15, 120, 168);
    --color-hero-background: #f7f3eb;
}

body {
    margin: 0;
    background-color: var(--color-neutral);
    color: var(--color-text-primary);
}

nav {
    position: sticky;
    top: 0;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-nav-background);
    z-index: 10;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
}

nav a:visited {
    color: inherit;
}

nav a:focus {
    outline: none;
}

nav a:link {
    text-decoration: unset;
    color: inherit;
    text-transform: uppercase;
    font-weight: bold;
}

nav li {
    padding: 10px;
    transition: background-color border-color 0.3s;
    border-radius: 5px;
    border: 5px dotted transparent;
}

nav li:has(a.active) {
    background-color: var(--color-nav-selected);
}

nav li:hover {
    background-color: var(--color-nav-hover);
}

nav li:focus-within {
    border-color: var(--color-nav-hover);
}

main {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

p, li, a {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4em;
}

a {
    font-variant: small-caps;
    color: var(--color-nav-background);
}

.highlighted-text {
    font-style: italic;
}

.image {
    max-width: 100%;
    min-width: 320px;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image-fluid {
    max-width: 100%;
    height: auto;
}

.image-right {
    float: right;
}

form fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form fieldset label {
    margin: 5px;
}

blockquote {
    font-variant: small-caps;
}

#hero {
    width: 100%;
    background-color: var(--color-hero-background);
}

.video-container {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.video-container > video {
    width: 65%;
    display: block;
    margin: 3vh auto;
    box-shadow: 0 0 50px 2px var(--color-text-primary);
    border-radius: 5px;
}

.video-container > .text-highlight {
    width: 65%;
    position: absolute;
    top: 50%;
    background-color: #00000060;
    border-top: 5px solid var(--color-neutral);
    border-bottom: 5px solid var(--color-neutral);
    color: var(--color-neutral);
}