:root {
    --color-neutral: #fff;
    --color-text-primary: #000;
    --color-nav-background: rgb(22, 173, 243);
    --color-nav-selected: var(--color-neutral);
    --color-nav-hover: rgb(15, 120, 168);
    --color-hero-background: #f7f3eb;
    --color-transparent-black: #00000060;

    --nav-height: 100px;
}

/* Formázások */

body {
    min-height: 100vh;
    margin: 0;
    background-color: var(--color-neutral);
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;

    counter-reset: sorok;
}

nav {
    position: sticky;
    top: 0;
    min-height: var(--nav-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-nav-background);
    z-index: 10;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
}

nav a:visited {
    color: inherit;
}

nav a:focus {
    outline: none;
}

nav a:link {
    text-decoration: unset;
    color: inherit;
    text-transform: uppercase;
    font-weight: bold;
}

nav li {
    padding: 10px;
    transition: 0.5s background-color;
    border-radius: 5px;
    border: 5px dotted transparent;
}

nav li:has(a.active) {
    background-color: var(--color-nav-selected);
}

nav li:hover {
    background-color: var(--color-nav-hover);
}

nav li:focus-within {
    border-color: var(--color-nav-hover);
}

main {
    max-width: 800px;
    margin: 0 auto;
    flex-grow: 1;
}

h1 {
    text-align: center;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    clear: both;
}

h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    clear: both;
}

p, li, a, th {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4em;
}

caption {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

label, legend, td {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

a {
    font-variant: small-caps;
    color: var(--color-nav-background);
}

.highlighted-text {
    font-style: italic;
}

.image {
    max-width: 100%;
    min-width: 320px;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image-fluid {
    max-width: 100%;
    height: auto;
}

.image-right {
    float: right;
}

.round-image {
    border-radius: 50%;
}

form fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form fieldset label {
    margin: 5px;
}

q {
    font-variant: small-caps;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    display: block;
    margin-left: 40px;
    margin-bottom: 1em;
    padding-left: 20px;
    border-left: 10px solid var(--color-hero-background);
}

#hero {
    width: 100%;
    background-color: var(--color-hero-background);
}

.video-container {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.video-container > video {
    width: 65%;
    display: block;
    margin: 3vh auto;
    box-shadow: 0 0 50px 2px var(--color-text-primary);
    border-radius: 5px;
}

.video-container > .text-highlight {
    width: 65%;
    position: absolute;
    top: 50%;
    background-color: var(--color-transparent-black);
    border-top: 5px solid var(--color-neutral);
    border-bottom: 5px solid var(--color-neutral);
    color: var(--color-neutral);
    animation-name: text-fade-in;
    animation-duration: 4s;
    letter-spacing: 3px;
}

#aside-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

aside {
    background-color: var(--color-hero-background);
    padding: 1.2rem;
    border-radius: 5px;
    max-width: 55%;
}

button {
    height: 1.7rem;
    border-radius: 20px;
    background-color: var(--color-hero-background);
    border: 1px solid var(--color-transparent-black);
    cursor: pointer;
    width: 70%;
    margin: 1vh 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: var(--color-nav-background);
}

input:not([type="date"]) {
    width: 100%;
    border-radius: 5px;
    padding: 1vh;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid var(--color-transparent-black);
}

input[type="date"] {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--color-transparent-black);
}

select {
    width: 100%;
    border-radius: 5px;
    padding: 1vh;
}

footer {
    height: 10vh;
    background-color: var(--color-nav-background);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

footer {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

tr:hover {
    background-color: var(--color-hero-background);
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 75%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
}

.column > img:hover {
    z-index: 5;
    transform: scale(1.5);
}

img[title="Ranglétra"] {
    margin-bottom: 2vh;
}

.image-fade-in {
    animation: image-fade-in 2s;
}

#login-fields {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

#login-buttons {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

tr {
    counter-increment: sorok;
    opacity: 0;
    animation: block-fade-in 1s linear forwards;
}

tr:nth-child(2) { animation-delay: 1s; }
tr:nth-child(3) { animation-delay: 2s; }
tr:nth-child(4) { animation-delay: 3s; }
tr:nth-child(5) { animation-delay: 4s; }
tr:nth-child(6) { animation-delay: 5s; }
tr:nth-child(7) { animation-delay: 6s; }
tr:nth-child(8) { animation-delay: 7s; }
tr:nth-child(9) { animation-delay: 8s; }
tr:nth-child(10) { animation-delay: 9s; }

/* Animációk */

@keyframes text-fade-in {
    from {color: transparent;}
    to {color: var(--color-neutral);}
}

@keyframes image-fade-in {
    0% {
        scale: 0.666;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        scale: 1;
    }
}

@keyframes block-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Media queryk */
@media screen and (max-width: 800px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }

    #aside-container {
        flex-direction: column;
        gap: 0;
    }

    aside {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    .image-right {
        float: none;
        display: block;
        margin: 0 auto;
    }
}

/* nyomtatás */

@media print {
    * {
        animation: unset;
    }
    nav, audio, form {
        display: none;
    }
    h1,h2,h3,h4,h5,h6 {
        text-align: center;
    }
    .video-container>video {
        display: none;
    }
    .video-container>.text-highlight {
        position: unset;
    }
    tr {
        opacity: 1;
    }
}